body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f1f1f1;
    background-image: url('./imgs/doodle-math-objects-border-free-vector.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body h1{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    /* box-shadow: 1px 2px 3px #b2b2b28b; */
    transition: all 2s;
    color: #000;
    background-color: #fff;
}


input[type="number"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d3d3d3;
    background-color: #67676747;
    transition: all 1s;
}

input[type="number"]::placeholder{
    color: #fff;
}

input[type="number"]:focus{
    background-color: #000;
    color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    /* -webkit-appearance: none; */
    /* appearance: none; */
    margin: 0; 
    border: none; 
    background-color: transparent;
    border-radius: 3px !important;
}

input[type="number"]::-webkit-inner-spin-button::after {
    font-size: 16px;
    color: #333; 
}

input[type="number"]::-webkit-inner-spin-button::before {
    font-size: 16px;
    color: #333; 
}

button {
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.8s;
}

button:hover{
    background-color: #000;
}

#operation{
    padding: 9px 15px;
    background-color: #3333333b;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 1.2s;
    cursor: pointer;
    color: #fff;
}


#operation:hover{
    border: 1px solid #000000;
    background-color: #000000;
}

#options {
    padding: 5px !important;
    background-color: #fff;
    color: #333;
}

#options:hover {
    background-color: #f0f0f0;
}


